<div class="container">
    <div class="row">
        <div class="col-sm-3">
            <button class="btn btn-primary" routerLink="/CreateUser">Create</button>
        </div>
        <div class="col-sm-3">
                <button class="btn btn-danger" routerLink="/">Show User List</button>
            </div>
          </div>
</div>