<div class="main-panel">
        <div class="content marginTop">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-12">
                <div class="card">
                  <div class="card-header" data-background-color="purple">
                    <h4 class="title">Create User</h4>
                  </div>
                  <div class="card-content">
                    <form>
                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group label-floating">
                            <label class="control-label">Name</label>
                            <input type="text" class="form-control" [(ngModel)]="name" name="name" required="required">
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group label-floating">
                            <label class="control-label">Email</label>
                            <input type="email" class="form-control" [(ngModel)]="email" name="email" required="required">
                          </div>
                        </div>
                      </div>
      
                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group label-floating">
                            <label class="control-label">locaton</label>
                            <input type="text" class="form-control" [(ngModel)]="location" name="location" required="required">
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group label-floating">
                            <label class="control-label">Age</label>
                            <input type="number" class="form-control" [(ngModel)]="age" name="age" required="required">
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group label-floating">
                            <label class="control-label">gender</label>
                            <input type="text" class="form-control" [(ngModel)]="gender" name="gender" required="required">
                          </div>
                        </div>
                        </div>
                      <button type="button" class="btn btn-primary pull-right" (click)="addUser()">Save</button>
                      <div class="clearfix"></div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>