
<img src="../../assets/giphy (1).gif" alt="" *ngIf="loader" style="position: fixed; top: 20%; left: 35%; right: 5%;">
<table class="table">
    <tr>
        <th>Name</th>
        <th>email</th>
        <th>Address</th>
        <th>Age</th>
        <th>Gender</th>
        <th>Action</th>
    </tr>
    <tr *ngFor="let obj of users">
        <!-- <td>{{obj._id}}</td> -->
        <td>{{obj.username}}</td>
        <td>{{obj.email}}</td>
        <td>{{obj.location}}</td>
        <td>{{obj.age}}</td>
        <td>{{obj.gender}}</td>
        <td>
            <button class="btn btn-danger" (click)="delete(obj._id)">Delete</button>
            <button class="btn btn-primary" (click)="edit(obj._id)">Edit</button>
        </td>
    </tr>
</table>

